<div class="modal-header">
  <h1 class="modal-addClassHeader">Add Assignment</h1>
  <a href="" class="modal-closebutton" ng-click="AddAssignmentModalController.close()">x</a>
</div>
<div class="modal-body">
  <ul style="list-style:none;">

    <li class="modal-inputwrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="modal-infoheader">ASSIGNMENT NAME</div>
          <div>
            <input class="modal-username-input" ng-model="AddAssignmentModalController.assignmentName" type="text" placeholder="Assignment Name">
            <span ng-show="AddAssignmentModalController.showError" class="modal-errortext">Enter an assignment name</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="modal-infoheader">POINTS</div>
          <div>
            <input class="modal-username-input" ng-model="AddAssignmentModalController.points" type="number">
          </div>
        </div>
      </div>
    </li>
    <li class="modal-inputwrapper">
      <div class="row">
        <div class="col-md-12">

          <div class="modal-infoheader">DESCRIPTION</div>
          <div>
          <textarea
            ng-model="AddAssignmentModalController.assignmentDescription"
            maxlength="1000"
            style="  margin-left:-40px; margin-top:5px; display:inline;  width:calc(100% + 40px);  resize:none;  height:100px;">
          </textarea>
          </div>
        </div>
      </div>
    </li>

    <li style="height:20px;">
      <button class="btn btn-primary" style="float:right;" ng-click="AddAssignmentModalController.addAssignment()">Add Assignment</button>
    </li>
  </ul>
</div>
