<!-- Information Area -->

<div ng-controller="InformationController" style="height:100%; width:100%">

<!-- Section of class information  -->
  <section>
  <div class="col-xs-9">
    <div class="infoHeader">
      <h3> Class {{classInfo.id}} - {{classInfo.name}}
        <button type="button" class="btn btn-default infoButton" ng-click="toggleDisable1()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </h3>
    </div>

    <div class="infoSection">
      <label>Description:</label>
        <br>
      <textarea id = "classInfo" rows = "8" cols = "100" ng-disabled="!editDes">{{classInfo.info}}</textarea>
      <br>
      <br>
      <!-- <input type="submit" ng-disabled="!editInfo" ng-click="toggleDisable1()"> -->
    </div>
  </div>
  </section>

<!-- Section for Instructor -->
  <section class="col-xs-9">
    <div class="infoHeader">
      <h3> Instructor Information
      <lable>
        <button type="button" class="btn btn-default infoButton" ng-click="toggleDisable2()">
        <span class="glyphicon glyphicon-edit"></span>
        </button>
      </lable>
      </h3>
    </div>

    <div class="infoSection">
      <label>
        <ul class="list-group">
          <br>
          <li class="list-group-item">
            Name: <input type="text" value="{{profile.firstName}}{{profile.lastName}} " ng-disabled="!editInfo"><br>
          </li>
          <br>
          <li class="list-group-item">
            Email: <input type="text" value="{{profile.email}}" ng-disabled="!editInfo"><br>
          </li>
          <br>
          <li class="list-group-item">
            Phone: <input type="text" value="{{profile.email}}" ng-disabled="!editInfo"><br>
          </li>
          <br>
          <li class="list-group-item">
            Office Houes: <input type="text" value="{{profile.office}}" ng-disabled="!editInfo">
                     <input type="text" value="{{profile.hours}}" ng-disabled="!editInfo"><br>
          </li>
                    <!-- <input type="submit" ng-disabled="!editInfo" ng-click="toggleDisable2()"> -->
      </label>
    </div>
  </section>


  <!-- Section for TA -->
  <section class="col-xs-9">

    <div class="infoHeader">
      <h3> Teacher's Assistant
        <lable>
        <button type="button" class="btn btn-default infoButton" ng-click="toggleDisable3()">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
        </lable>
    </h3>
    </div>
  </section>






<!-- Section for syllabus -->
  <!-- <section id="section">
    <h1> Syllabus </h1>
    <div ng-repeat="item in syllabus">
      {{item.classSection}}
      {{item.classHour}}
    </div>
  </section> -->
