
// wrap header and sectionand
.infoHeader{
  border: 2px solid gray;
  width:80%;
  background-color:#b4e0ea;
  color:gray;
  text-align:left;
}

.infoSection {
  background-color: #e6f3ff;
  border: 2px solid #e6e6e6;
  width:80%;
  float:left;
  text-align: center;
  padding:10px;
  margin-top: 0;
  margin-bottom:30px;
}

.infoButton {
  float: right;
  margin-right: 10px;
}
