
information.section {
  border-radius: 25px;
  border: 2px solid #80aaff;
  width:75%;
  float:left;
  padding:10px;
}

.information.header{
  border-radius: 25px;
  background-color:#0066cc;
  color:white;
  text-align:center;
}

#nav {
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width:15%;
  float:left;
  padding:5px;
}
