<div style="height:100%; width:100%">




  <div class="assignments-wrapper">
    <div class="assignments-full-left-area">
      <div ng-class="!assignments.showDetails ? 'assignments-leftside' : 'assignments-leftside-small'">
        <div class="assignments-leftbox">
          <div class="assignments-header">
            <div class="assignments-coursename">{{assignments.activeCourse().name}}</div>
          </div>
          <button class="btn btn-positive assignments-addassignmentbutton" ng-click="assignments.addAssignment('Enter Name')">Add Assignment</button>
          <div class="assignmentName-background">
            <ul class="assignments-assignmentlist">
              <li ng-repeat="assignment in assignments.activeCourse().assignments">
                <div class="assignment-assignlistwrapper">
                  <div class="assignments-assignmentname">

                    <label for="assignmentInput"></label>
                    <input maxlength="20" id="assignmentInput" class="leftside-assignmentname-input" type="text"  ng-model="assignment.name" ng-click="assignments.clickAssignment(assignment.id)" ng-blur="assignments.SendModifiedAssignmentName(assignment)" />
                  </div>

                  <div class="calendarWrapper">
                    <button type="button" class="btn btn-default" ng-click="assignment.datepickerOpen=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </div>
                  <div class="calendarInput">
                    <input type="text" class="form-control" uib-datepicker-popup="fullDate" ng-model="assignment.dueDate" is-open="assignment.datepickerOpen" datepicker-options="dateOptions" datepicker-append-to-body="true" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="assignments-full-right-area" ng-show="assignments.showDetails">
      <div ng-class="assignments.showDetails ? 'assignments-rightside-on' : 'assignments-rightside-off'">
        <div class="assignments-rightbox">


          <div class="rightbox-Header">
            <input maxlength="20" size="20" id="assignmentInput" type="text" ng-model="assignments.activeAssignment().name" ng-blur="assignments.SendModifiedAssignmentName(assignments.activeAssignment())" />
            <a href="" ng-click="assignments.showDetails=false">x</a>
          </div>

          <div class="rightbox-descriptionTitle">
            <h4>Description</h4>
          </div>
          <div class="rightbox-descriptioninput">
            <textarea ng-model="assignments.activeAssignment().description" ng-blur="assignments.SendModifiedDescription(assignments.activeAssignment())" maxlength="1000"></textarea>
          </div>
          <div class="rightbox-piechart">
            <canvas height="100%" width="100%" id="pie" class="chart chart-pie"
                    chart-data="assignments.activeAssignment().gradeArray" chart-labels="assignments.labelArray">
            </canvas>
          </div>
          <hr class="rightbox-divider"  />
          <div class="rightbox-pointswrapper">
            <span>
              Points:
              <input type="number" min="0" ng-model="assignments.activeAssignment().points" ng-blur="assignments.SendModifiedPoints(assignments.activeAssignment())">
            </span>
            <!--<span style="margin-top:6px; float:right; margin-right:32px;">
              Type:
              <select ng-model="assignments.activeAssignment().type">
                <option ng-repeat="weight in assignments.activeCourse().weights">{{weight.name}}</option>
              </select>
            </span>-->
          </div>

          <hr class="rightbox-divider" />
          <h4 class="rightbox-gradesheader">Grades</h4>
          <div class="rightbox-gradesarea">
            <ul>
              <li ng-repeat="student in assignments.activeCourse().students">
                <span class="rightbox-studentname">{{student.name}}</span>
                <div class="rightbox-studentGradeWrapper">
                  <span>{{student.assignmentGrades[assignments.activeAssignment().id] / assignments.activeAssignment().points * 100 | number:2}}%</span>
                  <input type="number" min="0"
                         ng-model="student.assignmentGrades[assignments.activeAssignment().id]",
                         ng-focus="student.oldAssignmentGrades[assignments.activeAssignment().id] = student.assignmentGrades[assignments.activeAssignment().id]"
                         ng-blur="assignments.changeGradeArray(assignments.activeAssignment(), student); assignments.SendModifiedGrade(assignments.activeAssignment(), student)"

                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
