<div class="modal-header">
  <h1 style="margin-top:10px; text-align:center;">Log In</h1>
  <a href="" class="modal-closebutton" ng-click="LoginModalController.close()">x</a>
</div>
<div class="modal-body">
  <ul style="list-style:none;">
    <li class="modal-inputwrapper">
      <div class="modal-infoheader">EMAIL ADDRESS</div>
      <div>
        <input class="modal-password-input" type="text" ng-model="LoginModalController.username" placeholder="name@company.com">

        <span class="modal-errortext" style="margin-left:-40px;">{{LoginModalController.errorText.username}}</span>
      </div>
    </li>
    <li class="modal-inputwrapper">
      <div class="modal-infoheader">PASSWORD</div>
      <div>
        <input class="modal-password-input" type="password" ng-model="LoginModalController.password" placeholder="Password">
        <span class="modal-errortext" style="margin-left:-40px;">{{LoginModalController.errorText.password}}</span>
      </div>
    </li>
    <li style="height:20px;">
      <span class="modal-errortext" style="position:absolute; left:15px; bottom:20px;">{{LoginModalController.errorText.login}}</span> <button class="btn btn-primary" style="float:right;" ng-click="LoginModalController.login()">Log In</button>
    </li>
  </ul>
</div>
