/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";





/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.fullSize {
  height:100%;
  width:100%;
  margin:0;
}

#wrapper {
  padding-left: 0;
  padding-top: 51px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  background: #f8f8f8;
  border-right: thin solid #e7e7e7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10em;
}

.sidebar-courses {
  position:absolute;
  top:0;
  width:250px;
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
}
.sidebar-courses li {
  text-indent:20px;
  line-height:40px;
}
.sidebar-courses-expanded {
  color:#ffffff;
}
.sidebar-courses li a {
  display:block;
  color:#000000;
  text-decoration:none;
  border: thin solid #e7e7e7;
}
.sidebar-courses li a:hover {
  background:#f0f0f0;
  text-decoration:none;
}
.sidebar-tabs {
  list-style:none;
  padding:0;
  margin:0;
  top:0;
  width:250px;
  background: #FBFBFB;
  border: thin solid #e7e7e7;
}

.activeTab
{
  background: #e7e7e7;
}

.sidebar-tabs li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-tabs li a {
  border:none;
}

.sidebar-arrow
{
  float:right;
  padding-top:10px;
  padding-right:10px;
}

.sidebar-slideout {
  transition:all linear 0.1s;
  height:121px;
  overflow:hidden;
}

.sidebar-slideout.ng-hide {
  height:0;
}
.test-area
{
  background:#000000;
}


.grad {
  background: #70798c; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#70798c,  #001427); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#70798c,  #001427); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#70798c,  #001427); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#70798c, #001427);

}
.outlineText
{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: darkgray;
  color:white;
}




  #wrapper {
    padding-left: 220px;


  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
