<div class="modal-header">
  <h1 class="modal-addClassHeader">Add Course</h1>
  <a href="" class="modal-closebutton" ng-click="AddClassModalController.close()">x</a>
</div>
<div class="modal-body">
  <ul style="list-style:none;">

    <li class="modal-inputwrapper">
      <div class="modal-infoheader">COURSE NAME</div>
      <div>
        <input class="modal-username-input" ng-model="AddClassModalController.courseName" type="text" placeholder="Course Name">
        <span ng-show="AddClassModalController.showError" class="modal-errortext">Enter a course name</span>
      </div>
    </li>
    <li class="modal-inputwrapper">
      <div class="modal-infoheader">DESCRIPTION</div>
      <textarea ng-model="AddClassModalController.description" class="modal-coursedescription"></textarea>
    </li>
    <li class="modal-inputwrapper">
      <div class="modal-infoheader">STUDENTS</div>
      <div>
        <div class="modal-studentbox">
          <ul>
            <li>
              <input class="modal-addStudentsInput" type="text" ng-model="AddClassModalController.studentString" placeholder="Enter students, separated by commas">
              <button class="btn btn-block modal-addStudentsButton" ng-click="AddClassModalController.addMultipleStudents()">Add Student(s)</button>
            </li>
            <li ng-repeat="student in AddClassModalController.students">

              <input class="modal-studentnameinput" placeholder="name@institution.edu" ng-model = student.name>
              <a href="" class="modal-removestudent" ng-click="AddClassModalController.removeStudent(student)">x</a>
            </li>
          </ul>

        </div>
      </div>
    </li>

    <li style="height:20px;">
      <button class="btn btn-primary" style="float:right;" ng-click="AddClassModalController.createCourse()">Add Course</button>
    </li>
  </ul>
</div>
