<div class="modal-header">
  <h1 class="modal-addClassHeader">Add Student</h1>
  <a href="" class="modal-closebutton" ng-click="AddStudentModalController.close()">x</a>
</div>
<div class="modal-body">
  <ul style="list-style:none;">

    <li class="modal-inputwrapper">
      <div class="modal-infoheader">FIRST NAME</div>
      <div>
        <input class="modal-username-input" ng-model="AddStudentModalController.firstName" type="text" placeholder="First Name">
      </div>
      <div style="float:right; position:absolute; right:12px; top:20px;">
        <div class="modal-infoheader">LAST NAME</div>
        <div>
          <input class="modal-username-input" ng-model="AddStudentModalController.lastName" type="text" placeholder="Last Name">
        </div>
      </div>
    </li>

    <li class="modal-inputwrapper">
      <div class="modal-infoheader">STUDENT ID</div>
      <div>
        <input class="modal-username-input" ng-model="AddStudentModalController.studentID" type="text" placeholder="Student ID">
      </div>
    </li>
    <li class="modal-inputwrapper">
      <div class="modal-infoheader">STUDENT EMAIL</div>
      <div>
        <input class="modal-username-input" ng-model="AddStudentModalController.email" type="text" placeholder="name@institution.edu">
      </div>
    </li>

    <li style="height:20px;">
      <button class="btn btn-primary" style="float:right;" ng-click="AddStudentModalController.addStudent()">Add Student</button>
    </li>
  </ul>
</div>
