<!doctype html>
<html ng-app="GradeTrack" style="height:100%; width:100%; margin:0;">
  <head>
    <meta charset="utf-8">
    <title>tempPro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body style="height:100%; width:100%; margin:0;">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="MainController as vm" style="height:100%; width:100%; margin:0;">



      <!-- logged out screen -->
      <span style="position:absolute; width:100%; height:100%;" ng-hide="vm.isLoggedIn()">
         <div class="navbar-wrapper">
           <nav class="navbar navbar-default navbar-fixed-top">
             <div class="container-fluid">
               <div class="navbar-header">
                 <a class="navbar-brand" href="" style="color:white;">
                   <span class="glyphicon glyphicon-signal"></span> GradeTrack </a>
               </div>
               <ul class="nav navbar-nav navbar-right">
               <li>
                 <button class="btn btn-primary" style="margin-right:10px; margin-top:10px;" ng-click="vm.openLogin('sm')">Log in</button>
                 </li>
               </ul>
             </div>
           </nav>
         </div>
        <div class="grad" style="margin-top:52px; width:100%; height:calc(100% - 52px);">

          <div style="position:absolute; width:100%;text-align:center; top:35%;">
            <h1 class="outlineText" style="font-size:6em;">Stay on track</h1>
            <h2 class="outlineText" style="font-size:2.5em">GradeTrack is the best way to keep track of your grades</h2>

            <button style="margin-top:10px;" class="btn btn-primary btn-lg" ng-click="vm.openSignup('lg')">Sign up</button>
          </div>
        </div>
      </span>


      <!-- logged in screen -->
      <span ng-hide="!vm.isLoggedIn()">

      <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top header-bar">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#/">
                <span class="glyphicon glyphicon-signal"></span> GradeTrack </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>
              <div class="" uib-dropdown style="margin-top:14px; margin-right:10px; font-size:18px; text-decoration:none;">
                <a href="" class="dropdown-toggle" style="color:darkgray; text-decoration:none;" uib-dropdown-toggle>
                  {{vm.lastName()}} {{vm.firstName()}}  <span class="glyphicon glyphicon-user"></span>
                </a>
                <ul class="uib-dropdown-menu" style="z-index:-1;" role="menu">
                  <li><a href="#/" ng-click="vm.logout();">Sign out</a></li>
                </ul>
              </div>
              </li>

            </ul>
          </div>
        </nav>
      </div>


      <div id="wrapper" style="height:100%; width:100%; margin:0;">

        <!-- Sidebar -->
        <div ng-class="vm.isLoggedIn() ? 'sidebar-wrapper' : 'sidebar-wrapper-loggedout'">
          <ul class="sidebar-courses">
              <li ng-repeat="course in vm.courses()">
                <a class="sidebar-header" href="" ng-click="course.expanded = !course.expanded">
                  {{course.name}}
                  <span class ="sidebar-arrow" ng-class="course.expanded ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'"></span>
                </a>
                    <div class="sidebar-slideout" ng-class="course.expanded ? 'sidebar-courses-expanded' : ''" ng-hide="!course.expanded" style="clear:both">
                     <ul class="sidebar-tabs">
                       <li ng-class="vm.isActiveTab(course, tab) ? 'activeTab' : ''" ng-repeat="tab in vm.tabs"><a href="{{tab.url}}" ng-click="vm.clickTab(course,tab)" >{{tab.label}}</a></li>
                     </ul>
                   </div>
              </li>
              <li>
                <a href="" ng-click="vm.openAddClass('lg')">Add Course</a>
              </li>
          </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" style="height:100%; width:100%; margin:0;">
          <div class="container-fluid" style="height:100%; width:100%; margin:0;">
            <div class="row" style="height:100%; width:100%; margin:0;">
              <div class="col-lg-12" style="height:100%; width:100%; margin:0;">
                <div class="mainView" style="height:100%; width:100%; margin:0;">
                  <div ng-view style="height:100%; width:calc(100vw - 250px);  margin:0;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>
    </span>
    </div>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
